version: "3"
services:
  back:
    image: python:3.10
    container_name: recardo-apiserver
    working_dir: /app
    command: bash -c "pip install -r req.txt && python manage.py makemigrations --noinput && python manage.py migrate --noinput && python manage.py runserver 0.0.0.0:8000"
    volumes:
      - ./server:/app
    ports:
      - "8000:8000"